<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "navbar.html" . -}}
        <div id="parent">
            <div id="child">
                <main>
                  {{- partial "header.html" . -}}
                  {{- partial "page-title.html" . -}}
                  {{- block "main" . }}{{- end }}
                </main>
                <footer id="site-footer">
                  {{- partial "footer.html" . -}}
                </footer>
            </main>
        </div>
    </body>
</html>
