{{ define "main" }}
    {{ .Content }}
    <ul class="post-list">
        {{ range .Pages }}
            <li>
                <div>
                    {{ if .Date }}
                      <strong>
                        <datetime datetime="{{ .Date | time.Format ":date_long" }}">
                          {{- .Date | time.Format ":date_long" -}}
                        </datetime>:
                      </strong>
                    {{ end }}
                    <a href="{{ .Permalink }}">{{ title .Title }}</a>
                    ~;~
                    {{ .Summary | truncate 200 }}
                </div>
            </li>
        {{ end }}
    </ul>
    <a href="index.xml">RSS</a>
{{ end }}
