{{ if .Site.Params.navbar }}
  <div id="header">
    <div class="header-line">
      <h1>
        {{ .Site.Title | strings.ToUpper }}
      </h1>
      <nav>
        {{ range .Site.Menus.main }}
          <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      </nav>
    </div>

    <hr />

    {{ if .Page.Title }}
      <div class="header-line">
        <h2>
          {{ .Page.Title }}
        </h2>
        {{ with .Page.Params.date }}
          <time datetime="{{ . | time.Format "2006-01-02" }}">{{ . | time.Format ":date_long" }}</time>
        {{ end }}
      </div>
    {{ end }}
  </div>
{{ end }}
