<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {{ if .Page.Title }}
      {{ .Page.Title }} - {{ .Site.Title }}
    {{ else }}
      {{ .Site.Title }}
    {{ end }}
  </title>

  {{ with .Site.Params.feed }}
    <link rel="alternate" type="application/rss+xml" href="{{ . }}">
  {{ end }}

  {{ with .Site.Params.description }}
    <meta name="description" content="{{ . }}">
  {{ end }}

  {{ with .Site.Params.favicon }}
    {{ $favicon := resources.Get (printf "%s%s" "img/" .) }}
    {{ $favicon = $favicon.Resize "128x" }}
    <link rel="icon" href="{{ $favicon.Permalink }}">
  {{ end }}

  {{ if .Param "math" }}
    {{ partialCached "math.html" . }}
  {{ end }}

  {{ $sass := resources.Get "sass/main.sass" }}
  {{ $style := $sass | resources.ToCSS | resources.Minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">

  <style>
    {{ if .Site.Params.monospace }}
      body {
        font-family: monospace;
      }

      #child {
        width: Min(80ch, 95vw);
      }
    {{ else }}
      body {
        font-family: sans-serif;
      }

      #child {
        width: Min(45em, 95vw);
      }
    {{ end }}
  </style>
</head>
