{{ if .Site.Params.navbar }}
  <header id="site-header">
    <div>
      <h1>
        {{ .Site.Title | strings.ToUpper }}
      </h1>
      <nav>
        {{ range .Site.Menus.main }}
          <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      </nav>
    </div>

    {{ if .Page.Title }}
      <div>
        <h1>
          {{ .Page.Title }}
        </h1>
        {{ with .Page.Params.date }}
          <time datetime="{{ . | time.Format "2006-01-02" }}">{{ . | time.Format ":date_long" }}</time>
        {{ end }}
      </div>
    {{ end }}
  </header>
{{ end }}
